:root {
  --red: #c80060;
  --teal: #00cdd1;
  --light: white;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Cabin', Arial, Geneva, sans-serif;
  background-image: url(../img/clouds.png);
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
  color: var(--red);
}
