html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-areas:
    'blue-header'
    'green-article'
    'yellow-aside';
}

.wrapper > * {
  padding: 1em;
  border-radius: 1em;
}

header {
  background-color: blue;
  color: white;
  grid-area: blue-header;
}

article {
  background-color: green;
  color: white;
  grid-area: green-article;
}

aside {
  background-color: yellow;
  grid-area: yellow-aside;
}

@media (min-width: 650px) {
  .wrapper {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'green-article yellow-aside'
      'blue-header yellow-aside';
  }
  header {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  article {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  aside {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    grid-template-areas:
      'yellow-aside blue-header'
      'yellow-aside green-article';
  }
  header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  article {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  aside {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}
