.wrapper {
  width: 633px;
  height: 458px;
  background: url(mondrian2.png) no-repeat;
  display: grid;
  gap: 9px;
  grid-template-columns: [first] 302px 85px 150px 68px;
  grid-template-rows: 70px 10px 56px 52px 82px 145px;
  background-color: black;
}

div {
  border: 1px solid black;
  /* test your work by adding another layer with styles below */
  /* background-color: green; */
  /* opacity: 0.5; */
}

/* cell numbering starts from left and top of page */
.a {
  grid-column: 1/2;
  grid-row: 1/6;
}

.b {
  grid-column: 2/3;
  grid-row: 1/3;
}

.c {
  grid-column: 3/4;
  grid-row: 1/4;
}

.d {
  grid-column: 4/5;
  grid-row: 1/2;
}

.e {
  grid-column: 2/3;
  grid-row: 3/6;
}

.f {
  grid-column: 3/4;
  grid-row: 4/5;
}

.g {
  grid-column: 4/5;
  grid-row: 2/5;
}

.h {
  grid-column: 1/2;
  grid-row: 6/7;
}

.i {
  grid-column: 2/3;
  grid-row: 6/7;
}

.j {
  grid-column: 3/5;
  grid-row: 5/7;
}
